lightning==2.0.0
omegaconf==2.3.0
jaxtyping==0.2.36
typeguard==4.4.1
git+https://github.com/KAIR-BAIR/nerfacc.git@v0.5.2
git+https://github.com/NVlabs/tiny-cuda-nn/#subdirectory=bindings/torch
diffusers==0.19.3
transformers==4.28.1
accelerate==1.2.1
opencv-python==4.10.0.84
tensorboard==2.18.0
matplotlib==3.10.0
imageio==2.36.1
imageio-ffmpeg==0.5.1
git+https://github.com/NVlabs/nvdiffrast.git
libigl==2.5.1
xatlas==0.0.9
trimesh==4.5.3
networkx==3.2.1
pysdf==0.1.9
PyMCubes==0.1.6
wandb==0.19.1
gradio>=4.16.1
git+https://github.com/ashawkey/envlight.git
torchmetrics==1.6.1
ipython==8.31.0
ipywidgets==8.1.5

# deepfloyd
xformers==0.0.29.post1
bitsandbytes==0.38.1
sentencepiece==0.2.0
safetensors==0.5.0
huggingface-hub==0.21.0

# for zero123
einops==0.8.0
kornia==0.7.4
taming-transformers-rom1504==0.0.6
git+https://github.com/openai/CLIP.git

#controlnet
controlnet-aux==0.0.9
